.services-container {
    margin: 0;
    padding: 0;
}

.services-wrapper {
    color: white;
    text-align: left;
    max-width: 1440px;
    height: 550px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center;
    background-color: white;
    padding: 50px;
    margin: 0 auto; 
}

.services-header {
    color: #ffa7a6;
    margin-top: 20px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.services-text {
    text-align: center;
    font-weight: bold;
    background-color: white;
    color: #ff7f80;
    margin: 0;
    padding-top: 35px;
    display: block;
    max-width: 1440px;
}

img {
    margin-right: 10px;
    padding: 0;
    text-align: center;
}

.services-details {
    font-size: 15px;
    margin-top: 15px;
    text-align: left;
    padding: 15px;
}

.services-box {
    width: 300px; 
    min-height: 300px; 
    background-color: #787ebe;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 14.9px;
    transition: transform 0.6s, opacity 0.6s; 
    opacity: 0; 
    transform: translateY(50px); 
}

.services-box.show {
    opacity: 1;
    transform: translateY(0); 
}

@media (max-width: 768px) {
    .services-wrapper {
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 10px; 
        overflow-x: auto; 
        gap: 10px; 
        height: 440px;
    }

    .services-box {
        flex: 0 0 auto; 
        width: 245px; 
        height: auto; 
        margin: 0 auto; 
        padding: 10px; 
        box-sizing: border-box; 
        font-size: 11px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .services-text {
        font-size: 16px !important;
        padding-top: 45px;
        margin: 0;
        text-align: center;
    }

    .services-header {
        font-size: 13px !important;
        margin-top: 8px;
        text-align: center;
    }

    .services-details {
        font-size: 12px !important;
        margin-top: 2px;
        text-align: left;
        width: 100%;
    }

    img {
        width: 17px;
        height: auto;
        margin-bottom: 10px;
    }
}
