.services-wrapper{
    color: white;
    text-align: left;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #32004a;
    padding: 0px;
    margin: 0;
}
.services-header{
    color: #f5ee29;
}
.services-text{
    text-align: center;
    background-color: #32004a;
    color: #f5ee29;
    margin: 0;
    padding-top: 50px;
}
.services-box{
    width:412px;
    height: 232px;
    background-color: #6d3f85;;
    margin-left:25px;
    margin-right: 25px;
    border-radius: 10px;
    text-align: center;
    padding: 9px;
    font-size: 14px;
    text-align: center;

}
.services-box:hover{
    background-color: #7e5196;
}