.services-wrapper{
    color: white;
    text-align: left;
    height: 209px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #32004a;
    padding: 45px;
}
.services-text{
    text-align: center;
    background-color: #32004a;
    color: white;
    margin: 0;
    padding: 35px;
}
.services-box{
    width:412px;
    height: 232px;
    background-color: #6d3f85;;
    margin-left: 25px;
    border-radius: 10px;
    text-align: center;
    padding: 12px;
}
.services-box:hover{
    background-color: #7e5196;
}