.project-header{
    margin-left: 86px;
    font-weight: bold;
    color: #ff7f80;
}
.project-box-container{
    display: flex;
    justify-content: space-around;
    border: 1px
}
.project-box{
    display: flex;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
}
.project-box-container{
    display: flex;
    padding-top: 30px;
    padding-bottom: 90px;
    margin-left: 86px;
    width: min-content;
}
.screenshot{
    max-width: 100%;
    height: auto;

}
.project-details{
    margin-left: 20px;
    font-size: 14px;
    line-height: 24px;
}
.project-btn{
    border: 1px solid #ff7172;
    background-color: #ff7f80;
    color: white;
    margin: 3px;
    font-size: 16px;
    border-radius: 5px ;
    height: 40px;
}
.project-heading{
    text-align: left;
    font-size: 19px;
    text-decoration: underline;
    font-weight: bold;
}
.project-intro{
    margin-left: 10px;
}
.bigger-box {
    width: 600px; 
    height: 315px;
    background-color: #787ebe;
    padding: 10px; 
    margin: 0; 
}

.smaller-box {
    width: 450px;
    height: 260px; 
    border: 1px solid #787ebe;
    margin: auto;
    padding: 10px;
}