.project-header{
    margin-left: 86px;
    font-weight: bold;
    color: #ff7f80;
    margin-top: 50px;
    text-align: left;
    padding: 10px;
}
.project-box-container{
    display: flex;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-left: 86px;
    width: min-content;
}
.screenshot{
    width: 550px;
    height: auto;
    object-position: 10px;
}
.project-details{
    margin-left: 20px;
    font-size: 14px;
    line-height: 24px;
}
.project-btn{
    display: inline-block;
    border: 1px solid #787ebe;
    background-color: #787ebe;
    color: white;
    margin: 3px;
    font-size: 16px;
    border-radius: 5px ;
    height: 40px;
    text-align: center;
}
.project-btn:hover {
    cursor: pointer;
    background-color: #858cd4 ;

}
.project-heading{
    text-align: left;
    font-size: 19px;
    text-decoration: underline;
    font-weight: bold;
}
.project-intro{
    margin-left: 10px;
}
.bigger-box {
    width: 600px; 
    height: 315px;
    background-color: #787ebe;
    padding: 19px; 
}
.smaller-box {
    width: 450px;
    height: 260px; 
    border: 1px solid #787ebe;
    margin: auto;
    padding: 10px;
}
.github_logo{
    width: 50px;
    height: 18px;
    margin-bottom: 0;
    padding: 0;
    margin-left: 0;
    transform: scale(1.0); 
}