.about-me-wrapper{
background-color: #787ebe;
height: 590px;
margin: 0 auto;
padding: 0;
border: none;
display: flex;
box-shadow: 0 4px 6px rgba(120, 126, 190, 0.5);
max-width: 1440px;
height: 590px
}
.about-me-text{
    text-align: left;
    color: #ffa7a6;
    padding: 10px;
    margin-left: 270px;
    margin-top: 40px;
    font-weight: bold;
}
span{
    color: #ffa7a6;
    font-weight: bold;
}
.about-me-logo{
    max-width: 390px;
    height: 360px;
    margin-left: 150.33px;
    margin-top: 100px;
    margin-right: 0;
    padding: 0;
}
.about-me-intro{
    text-align: left;
    margin-left: 85.33px;
    color: white;
    font-size: 16px;
    line-height: 30px;
    max-width: 610px;
    height: 98px;
    text-indent: 50px;
    margin-top: 0;
}
.indented{
    margin: 0;
    padding: 0;
    text-indent: 50px;
    color: white;
    line-height: 38px;
    max-width: 610px;
    font-size: 17px;
    text-align: left;
    margin-left: 85.33px;
}
.indented-color{
    color:  #ffa7a6;
    font-style: italic;
    transition: transform 0.3s;
    display: inline-block;
}
.indented-color:hover{
    transform: scale(1.4);
    cursor: pointer;
}
@media (max-width: 768px) {
    .about-me-wrapper {
        align-items: center; 
        padding: 20px; 
        height: 450px; 
        border-bottom: 10px;
    }
    .about-me-text {
        text-align: center;
        margin-left: 10px;
        margin-top: 1px; 
        margin-bottom: 0;
        font-size: 16px; 
    }
    .about-me-logo {
        width: 250px; 
        height: auto; 
        margin: 20px auto; 
    }
    .about-me-intro, .indented {
        text-align: left; 
        margin-left: 0; 
        max-width: 100%;
        padding: 0 20px; 
        font-size: 13px;
        margin-top: 0pX !important;
        margin-bottom: 30px;
        line-height: 30px;
    }
    .indented-color {
        text-align: left; 
        font-size: 12px;
    }
}
