.homePage-wrapper{
    padding: 0;
    margin-top: 0;
    background-color: whitesmoke;
    max-width: 1280px;
    height: 590px;
    display: flex;
    justify-content: space-between;
}
.text-name{
    color: #f78b7b;
    font-size: 30px;
    font-weight: bolder;
}
.homePage-text{
    padding-top: 40px;
    margin-left: 85.33px;
    width:790.67px;
    height: 320px;
    color: black;
    text-align: left;
    
}
.homePage-text-one{
    margin-top: 80px;
    width: 500px;
    height: 32px;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}
.homePage-text-two{
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 30px;
    width: 550px;
}

.homePage-button{
    max-width: 150.67px;
    padding: 10px;
    height:69.33px;
    color: rgb(51, 49, 49);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 100%;
    text-align: center;
    background-color:#ff9899;
    border-radius: 15px;
    border: 2px solid #ff9899;
    margin-right: 35px;
    transition: transform 0.3s;
}
.viewProject-button{
    max-width: 150.67px;
    padding: 10px;
    height:69.33px;
    color: #ff9899;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 100%;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #ff9899;
    margin-right: 35px;
    transition: transform 0.3s;
    background-color: transparent;
}
.viewProject-button:hover{
    cursor: pointer;
    background-color: transparent;
    transform: scale(1.1);
}
.button-wrapper{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.homePage-button:hover{
    cursor: pointer;
    background-color: #ff9899;
    font-weight: 500px;
    transform: scale(1.1);
}
.home-logo{
    width: 350px;
    height: 360px;
    margin-right: 140.33px;
    margin-top: 98px;
}