.contact-info-wrapper{
    background-color: #787ebe;
    height: 590px;
    color: white;
    margin-top: 0;
    padding: 0;
    display: flex;
}
.contact-header{
    color: #ffa7a6;
    font-weight: bolder;
    text-align: left;
    margin-top: 0px;
    padding-top: 60px;
    font-size: 30px;
    text-align: left;
    margin-left: 85.33px;
}
.contact-intro{
    margin-left: 85.33px;
    width: 526px;
    height: 47px;
    line-height: 35px;
    font-size: 15px;
    margin-right: 40px;
}
.break{
    margin-top: 15px;
}
.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
    height: 450px;
    margin: 0 auto;
    margin-top: 60px;
    margin-left: 80px;
}

label {
    width: 100%;
    margin-top: 10px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
#contact-button{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #ffa7a6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
#contact-button:hover{
    background-color: #ff6b6b;
}
.vertical-line {
    margin-top: 60px;
    width: 2px;
    height: 450px;
    background-color: #ff9899;
    padding: 0;
  }
  