
.sticky{
    top:0;
    z-index: 1000;
}
.portfolio-logo{
  margin-left: 85.33px;
  width: 30px;
  transition: transform 0.3s;
}
.portfolio-logo:hover{
  cursor: pointer;
  transform: scale(1.3);
}
.navbar-wrapper{
    display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      max-width: 1280px;
      height:48px;
      background-color: #787ebe;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      box-shadow: 0 4px 6px rgba(120, 126, 190, 0.5);
  }
  .navbar-logo{
    width: 89px;
    height: 24px;
    font-size: 17px;
    margin-left: 85.33px;
    margin-right: 200px;
  }
  .navbar-logo:hover{
    cursor: pointer;
  }
  .active-link{
    color: white;
    margin-right: 15px;
  }
  .navlink{
    color: white;
    text-decoration: none;
  }
  .navbar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-list > li{
    color: white;
    list-style: none;
    margin-right: 55px;
  }
  .navbar-list-item :active{
    margin-left: 10px;
    color: #ff9899;
  }
  .navbar-list-item:hover{
    cursor: pointer;
    color:#ff9899;
    border-bottom: 2px solid #ff9899;
  }
  
  