.footer-wrapper{
    background-color: #6d3f85;
    height: 66px;
    padding: 0px;
    color: white;
    text-align: center;
    margin: 0;
    border: 1px solid black;
}
.copyright-text{
    margin: 0;
    padding: 0;
    border: 0;
}