.footer-wrapper{
    background-color: #32004a;
    height: 76px;
    padding: 0px;
    color: white;
    text-align: center;
    margin: 0;
    border: 1px solid black;
}
.copyright-text{
    margin: 0;
    padding: 0;
    border: 0;
}
.exit-Btn{
    padding: 7px;
    margin-top: 8px;
    text-align: center;
    background-color: rgb(173, 173, 173);
    color: black;
    font-size: 15px;
    border-radius: 9px;
    border: 1px solid black;
}
.exit-Btn:hover{
    cursor: pointer;
    color: #6d3f85;
}
