.skills-wrapper{
    height: 600px;
    background-color: #6d3f85;
    margin: 0;
    padding: 85px;
}
.skills-text{
    margin: 0;
    text-align: center;
    color: #f5ee29;
    background-color: #6d3f85;
    padding: 0px;
}
.loader-wrapper{
    background-color: #6d3f85;
    color: white;
    display: flex;
    align-self: center;
    justify-content: space-around;
    padding: 60px;
}
.loader{
    margin-top: 0px;
    text-align: center;
    border: 8px solid #f3f3f3;
    border-radius:50px;
    border-top: 8px solid #3498db;
    width: 110px;
    height: 118px;
    animation: spin 5s linear infinite;
    
}
@keyframes spin {
    80% { transform: rotate(10deg); }
    100% { transform: rotate(360deg); }
  }