.skills-container{
    display: flex;
    margin-left: 86px;
    margin-top: 0;
    height: 500px;
    width: min-content;
}
.small-box{
    width: 450px;
    height: 260px; 
    border: 1px solid #787ebe;
    margin: auto;
    padding: 10px;
}
.big-box{
    width: 600px; 
    height: 315px;
    background-color: #787ebe;
    padding: 30px;
    margin: auto; 
}
.big-box img{
    width: 530px;
    height: 250px;
}
.skills-btn{
    display: inline-block;
    border: 1px solid #787ebe;
    background-color: #787ebe;
    color: white;
    margin: 3px;
    font-size: 16px;
    border-radius: 5px ;
    height: 40px;
    text-align: center;
}
.skills-btn-wrapper{
    margin-left: 10px;
}
.screenshot-weather{
    width:950px;
    height: 315px;

}
.project-heading-two{
    margin-left: 20px;
    padding: 0;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
}