.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 1280px;
    height:56px;
    background-color: #36013f;
}
.navbar-logo{
    color: white;
    width: 79px;
    height: 24px;
}
.navbar-list > li{
    color: white;
    list-style: none;
    display: flex;
}
.navbar-list-item{
    margin: 0px 10px;
    display: flex;
}
