@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.navbar-wrapper{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    max-width: 1280px;
    height:56px;
    background-color: #32004a;
    border-bottom: 1px solid #6d3f85;
}
.navbar-logo{
  color: rgb(255, 255, 58);
  width: 89px;
  height: 24px;
  font-size: 17px;
  margin-left: 85.33px;
}
.navbar-logo:hover{
  cursor: pointer;

}
.active-link{
  color: white;
  margin-right: 15px;
}
.navlink{
  color: white;
  text-decoration: none;
}
.navbar-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-list > li{
  color: white;
  list-style: none;
  margin-right: 55px;
}
.navbar-list-item :active{
  margin-left: 10px;
  color: yellow;
  background-color: #6d3f85;
}
.navbar-list-item:hover{
  cursor: pointer;
  color: white;
}
